<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>OwnerRegAction</servlet-name>
        <servlet-class>com.register.OwnerRegAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAction</servlet-name>
        <servlet-class>com.upload.UploadAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>com.download.Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCloud</servlet-name>
        <servlet-class>com.upload.UploadCloud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download2</servlet-name>
        <servlet-class>com.download.Download2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDownload</servlet-name>
        <servlet-class>com.graph.view.ViewDownloadGraph</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerRegAction</servlet-name>
        <url-pattern>/OwnerRegAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAction</servlet-name>
        <url-pattern>/UploadAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCloud</servlet-name>
        <url-pattern>/UploadCloud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download2</servlet-name>
        <url-pattern>/Download2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDownload</servlet-name>
        <url-pattern>/ViewDownload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>AttackedPatients</servlet-name>
        <servlet-class>com.graph.AttackedPatients</servlet-class>
    </servlet>
</web-app>
